<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('partials/nav.ejs') %>



  <section class="help-page">
    <h1 class="title">help page</h1>
    <div class="container">
      <h3 style="margin-top: 40px;">steps to use this website easily</h3>
      <h5>e7sbly is a website used to calculate the duration with the price that a client spend playing or doing any activity</h5>
      <ul>
        <li>1- you have to create an account with just your name and a password to be able to use this website</li>
        <li>2- login</li>
        <li>3- choose the games and its prices per hour</li>
        <li>4- add new client and enter his name and when did he started (if he didn't start at the current time)</li>
        <li>5- when the client finishes click end and the time he played will be shown with the price</li>
        <li>6- you can press delete after the client finish playing if you don't want to keep his history</li>
      </ul>
    </div>
  </section>



  <%- include('partials/footer.ejs') %>
  <%- include('partials/scripts.ejs') %>
</body>
</html>