<section class="footer">
  <div class="container">
    <div class="row">
      <div class="social">
        <a target="blank" href="https://www.instagram.com/alli_zaghloul/"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a target="blank" href="https://www.facebook.com/ali.zaghloul.393"
          ><i class="fa-brands fa-facebook"></i
        ></a>
        <a
          target="blank"
          href="https://www.linkedin.com/in/ali-tarek-zaghloul-32b898223/"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
      </div>
      <div class="name">
        <h2>Ali Tarek Zaghloul</h2>
      </div>
      <div class="num-rights">
        <p>+201027393406</p>
        <p>@ all rights reserved</p>
      </div>
    </div>
  </div>
</section>
